<ion-view view-title="{{::eventBoard.title}}">
	<ion-nav-bar class="bar-calm">
		<ion-nav-back-button>
  		</ion-nav-back-button>
	</ion-nav-bar>

	<ion-nav-buttons side="right">
		<button class='button' data-ng-click="newCommentPopUp()">Comment</button>
	</ion-nav-buttons>

	<div data-ng-if="eventBoard">


		<div class="bar bar-subheader board-subheader">
			<div class="item item-icon-right"
				data-ng-if="::boardDetail.isOwner">
				Share board
				<i class="icon ion-share" data-ng-click="showBoardLink()"></i>
			</div>
			<div class="board-subheader"
				data-ng-if="::!boardDetail.isOwner">
				<ion-toggle data-ng-model="boardDetail.subscribed" toggle-class="toggle-balanced">Subscribe</ion-toggle>
			</div>
		</div>

	  	<ion-content>
	  		<ion-refresher
				pulling-text="Pull to refresh..."
			    on-refresh="refreshComments()">
			</ion-refresher>

			<div class="padding" style="margin-top: 60px;" data-ng-if="!comments || comments.length === 0">
				<h4>No comments so far, add one now!</h4>
			</div>

	    	<ul class="list comment-list">
				<li class="card" data-ng-repeat="comment in comments">
					<comment-card comment="comment" on-delete="refreshComments(true)"></comment-card>
				</li>
		    </ul>
	  	</ion-content>
	</div>

</ion-view>
