<ion-view view-title="Home">
  <ion-content>
    <div class="home-content">

      <div class="logo-container">
          <i class="icon ion-ios-chatbubble-outline logo-bubble"></i>
          <i class="icon ion-ios-undo logo-reply"></i>
          <h1>Crowd Response</h1>
      </div>

      <div class="bar bar-footer bar-clear bar-home">
        <div class="button-bar">
          <a class="button button-balanced button-large" data-ng-click="login()">Login</a>
          <a class="button button-positive button-large" data-ng-click="signUp()">Sign up</a>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
