<ion-modal-view>
  <ion-header-bar class="bar bar-positive">
    <h1 class="title">Sign up</h1>
    <button class="button icon ion-close-round" data-ng-click="closeSignUpModal()"></button>
  </ion-header-bar>
  <ion-content>
    <form name="signUpForm" data-ng-submit="signUpUser()">
      <label class="item item-input">
        <span class="input-label">Full Name</span>
        <input name="fullName" type="text" ng-model="registration.fullName" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Email address</span>
        <input name="email" type="email" ng-model="registration.email" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input name="password" type="password" ng-model="registration.password" required>
      </label>
      <label class="item">
        <button class="button button-block button-positive" type="submit" data-ng-disabled="signUpForm.$invalid">Sign up</button>
      </label>
    </form>
    <h3 data-ng-if="loginError">You screwed it up!</h3>
  </ion-content>
</ion-modal-view>
