<ion-view view-title="Subscribed Boards">
	<ion-nav-bar class="bar-assertive">
	</ion-nav-bar>

	<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		</button>
	</ion-nav-buttons>

  	<ion-content>
  		<ion-refresher
			pulling-text="Pull to refresh..."
		    on-refresh="refreshBoards()">
		</ion-refresher>

    	<ul class="list">
			<li class="card" data-ng-repeat="(key, board) in eventBoards" data-ng-click="viewBoard(key)">
				<div class="item card-event-board">
					<h2>
						{{board.title}}
					</h2>
					<p>Comments: {{board.commentCount}}</p>
					<p data-ng-if="::eventBoardUpdateTimes[key]">Last activity: {{::eventBoardUpdateTimes[key]}} ago</p>
					<p data-ng-if="::!eventBoardUpdateTimes[key]">Last activity: none</p>
				</div>
			</li>
	    </ul>
  	</ion-content>
</ion-view>
